* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* css for landing page */
.landing-content {
    position: relative;
}

.landing-page .landing-content img {
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 5/2;
    width: 100%;
    object-fit: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%);
    position: relative;
    z-index: 1;
}

.landing-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%)
}

.inquiry-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50px;
    padding: 10px;
    animation: fadeInText 2s ease-out forwards;
}

.inquiry-text h2 {
    font-size: 30px;
}

@keyframes fadeInText {
    0% {
        left: -100%;
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        left: 50%;
        opacity: 1;
    }
}

/* css for nav tabs */


.inquiry-form-section {
    background: url('../assets/inquiry-form.jpg');
    min-height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inquiry-form-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 1;
}

.inquiry-container {
    width: 800px;
    background: linear-gradient(45deg, black, #1aceee69);
    padding: 30px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    position: absolute;
    z-index: 1;
}

.tab_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(229, 229, 229);
    font-size: 18px;
    position: relative;
}

.tab_box .tab_btn {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background: none;
    border: none;
    padding: 18px;
    cursor: pointer;
}

.tab_box .tab_btn.active {
    color: rgb(240, 159, 10);
}

.content_box {
    padding: 20px;
}

.content_box .content {
    display: none;
    animation: moving .5s ease;
}

@keyframes moving {
    from {
        transform: translateX(50px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.content_box .content.active {
    display: block;
}

.line {
    position: absolute;
    top: 60px;
    left: 37%;
    width: 90px;
    height: 5px;
    background-color: rgba(240, 159, 10);
    border-radius: 10px;
    transition: all .3s ease-in-out;
}



/* carousel css styling */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: contain;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: "";
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.carousel-container h2 {
    color: #fff;
    text-align: center;
}


/* team section styling */



.team-carousel-container {
    position: relative;
    width: 100%;
    /* Adjust the container width as needed */
    margin: 0 auto;
    min-height: 50vh;
    display: flex;
}

.team-carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.team-container h2 {
    color: #000;
    text-align: center;
    padding: 10px 0 0 0;
}

.card {
    flex: 0 0 24%;
    /* Adjust the flex value as needed */
    margin: 0 7px !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    height: 200px;
}

.card img {
    width: 50%;
    height: auto;
    aspect-ratio: 2/1;
    object-fit: contain;
    margin: auto;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}